@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 0 0% 91%;
    
    --card: 0 0% 3%;
    --card-foreground: 0 0% 91%;
    
    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 91%;
    
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 1.2%;
    --primary-rgb: 249, 249, 249;
    
    --secondary: 0 0% 11.2%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 0 0% 11%;
    --muted-foreground: 0 0% 56.9%;
    
    --accent: 0 0% 17%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 0 0% 17%;
    --input: 0 0% 17%;
    --ring: 0 0% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    background-image: 
      radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%),
      radial-gradient(at 100% 0%, hsla(225,39%,25%,0.4) 0, transparent 50%),
      radial-gradient(at 100% 100%, hsla(339,49%,30%,0.1) 0, transparent 50%);
    background-attachment: fixed;
  }

  .glow {
    @apply transition-shadow duration-300;
  }

  .glow:hover {
    @apply animate-glow-pulse;
  }

  .card-glow {
    @apply border border-primary/20 bg-accent/50 backdrop-blur-sm;
  }
}